<h1>Please contact me here:</h1>
<ul>
    <li><%= "Name: " + contact.name%></li>
    <li><%= "Email: " + contact.email%></li>
    <li><%= "Phone: " + contact.phone%></li>
    <li><%= "Fax: " + contact.fax%></li>
    <li><%= "Site: " + contact.site%></li>
</ul>